林彥亨
{{detailName}}
<div class="form-froup row">
  <div class="col-sm-10">
    {{starttime}}-{{endtime}}
  </div>
</div>
<div class="form-froup row">
  <label class="col-sm-2 col-form-label">心情指數</label>
  <div class="col-sm-10">
    <input type="radio" value="-2" [(ngModel)]="mood">-2
    <input type="radio" value="-1" [(ngModel)]="mood">-1
    <input type="radio" value="1" [(ngModel)]="mood">1
    <input type="radio" value="2" [(ngModel)]="mood">2

  </div>
</div>
<div class="form-froup row">
  <label class="col-sm-2 col-form-label">收入</label>
  <div class="col-sm-10">
    <input type="text" class="form-control"  [(ngModel)]="bonus"
           placeholder="收入">
  </div>
  <button (click)="addWorkRecord()"  class="btn btn-primary">
    新增紀錄
  </button>
</div>
