{% extends 'base.html' %}
{%  block title %}
    工時大富翁
{% endblock %}
{% block head %}
    <script>
        $(document).ready(function (){
            const myDialog = $('#myDialog');
            const closeDialog = $('#closeDialog');

            $('.empty').click(function(){

               let id = $(this).attr('id')
                $(this).click(function(){
                    $(this).addClass('in_job');

                })
                myDialog.show();
            })
            closeDialog.click(function (){
                myDialog.hide()
            })


        })

    </script>
{% endblock %}
{% block content %}
    <div class="horizontal_down">
        <div class="horizontal_box empty box" >24</div>
        <div class="horizontal_box empty box" >23</div>
        <div class="horizontal_box empty box" >22</div>
        <div class="horizontal_box empty box" >21</div>
        <div class="horizontal_box empty box" >20</div>
        <div class="horizontal_box empty box" >19</div>
    </div>
    <div class="vertical_right">
        <div class="empty box" >13</div>
        <div class="empty box" >14</div>
        <div class="empty box" >15</div>
        <div class="empty box" >16</div>
        <div class="empty box" >17</div>
        <div class="empty box">18</div>

    </div>

    <div class="horizontal_up">

    <div class="horizontal_box in_job box" >8</div>
    <div class="horizontal_box in_job box" >9</div>
    <div class="horizontal_box in_job box" >10</div>
    <div class="horizontal_box empty box" >11</div>
    <div class="horizontal_box empty box" >12</div>
    </div>
    <div class="vertical_left">
        <div class="empty in_job" >7</div>
    <div class="empty box" >6</div>
    <div class="empty box" >5</div>
    <div class="empty box" >4</div>
    <div class="empty box" id="3">3</div>
    <div class="empty box" id="2">2</div>
    <div class="empty box" id="1">1</div>
    </div>

    <div class="info">
        <div>   林彥亨 目前工作 3.5 hr</div>
        <div>食</div>
        <div>衣</div>
        <div>住: 3.2hr 服務 9 人次 金額 1200 元</div>
        <div>行</div>
        <div>育</div>
        <div>樂 </div>
    </div>

    <dialog id="myDialog" >
    <p>選擇分類</p>



        <div class="container">
              <div class="row">
                {% for item in major %}
                <div class="card">
                    <a class="btn btn-success" href = "{% url 'app:sub_view' item.id %}">{{item }}</a></div>

                {% endfor %}




            </div>
        </div>
        <button id="closeDialog">關閉</button>
        </div>
  </dialog>


{% endblock %}
