<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav" *ngFor="let item of lists">
    <button  class="m-1 btn btn-light btn-outline-primary"
             (click)="openMajorModal(item)"
             Button>{{item.item}}</button>
  </ul>

</nav>

<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav" *ngFor="let subitem of subitems">
    <button  class="m-1 btn btn-light btn-outline-primary"
             (click)="openSubModal(subitem)"
             Button>{{subitem.sub_items}}</button>
  </ul>

</nav>

<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav" *ngFor="let di of detailitems">
    <button  class="m-1 btn btn-light btn-outline-primary"
              (click)="openWorkRecord(di)"
             Button>{{di.detail}}</button>
  </ul>

</nav>

  <table class="table table-striped">
   <tr>
    <th>
      <div class="d-flex flex-row">
        user</div>
    </th>
  </tr>
  <tr>
    <th>
      <div class="d-flex flex-row">
        detail</div>
    </th>
  </tr>
  <tr>
    <th>
      <div class="d-flex flex-row">
        start time</div>
    </th>
  </tr>
  <tr>
    <th>
      <div class="d-flex flex-row">
        end time</div>
    </th>
  </tr>

  <tr>
    <th>
      <div class="d-flex flex-row">
        spend hours</div>
    </th>
  </tr>
  <tr>
    <th>
      <div class="d-flex flex-row">
        bonus</div>
    </th>
  </tr>
  <tr>
    <th>
      <div class="d-flex flex-row">
        mood</div>
    </th>
  </tr>
   <tbody>
  <tr *ngFor="let di of this.works">
      <td>{{di.user}}</td>
      <td>{{di.detail}}</td>
      <td>{{di.start_time}}</td>
      <td>{{di.end_time}}</td>
      <td>{{di.spend_time}}</td>
      <td>{{di.bonus}}</td>
      <td>{{di.mood}}</td>

  </tr>

  </tbody>
</table>

