<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav" *ngFor="let item of lists">
    <button  class="m-1 btn btn-light btn-outline-primary"
             (click)="openMajorModal(item)"
             Button>{{item.item}}</button>
  </ul>

</nav>

<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav" *ngFor="let item of subitems">
    <button  class="m-1 btn btn-light btn-outline-primary"
             (click)="openSubModal(item)"
             Button>{{item.sub_items}}</button>
  </ul>

</nav>

<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav" *ngFor="let item of detailitems">
    <button  class="m-1 btn btn-light btn-outline-primary"
             (click)="openDetailModal(item)"
             Button>{{item.detail}}</button>
  </ul>

</nav>
