<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav" *ngFor="let item of lists">
    <button  class="m-1 btn btn-light btn-outline-primary"
             (click)="openMajorModal(item)"
             Button>{{item.item}}</button>
  </ul>

</nav>

<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav" *ngFor="let subitem of subitems">
    <button  class="m-1 btn btn-light btn-outline-primary"
             (click)="openSubModal(subitem)"
             Button>{{subitem.sub_items}}</button>
  </ul>

</nav>

<!--工作紀錄-->
<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav" *ngFor="let di of detailitems">
    <button  class="m-1 btn btn-light btn-outline-primary"
             data-toggle="modal" data-target="#exampleModal"
             data-backdrop="static" data-keyboard="false"
             (click)="openWorkRecord(di)"
             Button>{{di.detail}}</button>
  </ul>




  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close"
                  data-dismiss="modal" aria-label="Close"
                  (click)="closeClick()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-workrecord  [det]="works"  [user]="1" [detailName]="detailName" [detailId]="detail" *ngIf="ActivateAddEditComp">
          </app-workrecord>
        </div>
      </div>
    </div>
  </div>
</nav>



