


<div class="horizontal_down">
  <div class="horizontal_box empty box" >24</div>
  <div class="horizontal_box empty box" >23</div>
  <div class="horizontal_box empty box" >22</div>
  <div class="horizontal_box empty box" >21</div>
  <div class="horizontal_box empty box" >20</div>
  <div class="horizontal_box empty box" >19</div>
</div>
<div class="vertical_right">
  <div class="empty box" >13</div>
  <div class="empty box" >14</div>
  <div class="empty box" >15</div>
  <div class="empty box" >16</div>
  <div class="empty box" >17</div>
  <div class="empty box">18</div>

</div>

<div class="horizontal_up">

  <div class="horizontal_box in_job box" >8</div>
  <div class="horizontal_box in_job box" >9</div>
  <div class="horizontal_box in_job box" >10</div>
  <div class="horizontal_box empty box" >11</div>
  <div class="horizontal_box empty box" >12</div>
</div>
<div class="vertical_left">
  <div class="empty in_job" >7</div>
  <div class="empty box" >6</div>
  <div class="empty box" >5</div>
  <div class="empty box" >4</div>
  <div class="empty box" id="3">3</div>
  <div class="empty box" id="2">2</div>
  <div class="empty box" id="1">1</div>
</div>

<div class="workspace">
  <div>   林彥亨 </div>
 <div class="container">
  <app-major></app-major></div>
</div>